<template name="banner">

<div id="banner">
    <img class="banner-image-sarai" src="/img/banners/pest_banner.jpg">
    
    <div class="banner-content-top-sarai">
      <div class="row">
      
      <div class="col-md-5 col-sm-12 banner-text" id="bannerText-sarai">
        
          <h1 class="title">Smarter Pest Identification</h1>
          <h3 class="title-desc hidden-sm">An online platform that combines different strategies and practices for identification and management of pests</h3>
        
      </div>

      <div class="col-md-7 col-sm-12 hidden-xs hidden-sm services-icons"> 
        <div class="row">
          <!-- Pest Lib -->
          <div class="col-md-3 col-sm-3">
            <a href="/library">
              <img class="service-icon-img" src="/img/modules/pest_library.png">
              
            </a>
          </div>

          <!-- Pest ID -->
          <div class="col-md-3 col-sm-3">
            <a href="/pests-id">
              <img class="service-icon-img" src="/img/modules/pest_id.png">
              
            </a>
          </div>

          <!-- Pest Monitoring -->
          <div class="col-md-3 col-sm-3">
            <a href="/pests-monitor">
              <img class="service-icon-img" src="/img/modules/pest_monitoring.png">
              
            </a>
          </div>

          <!-- Pest Clinic -->
          <div class="col-md-3 col-sm-3">
            <a href="/pests-clinic">
              <img class="service-icon-img" src="/img/modules/pest_clinic.png">
              
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>