<template name="banner">

<div id="banner">
    {{#if getCurrentPage "home"}}
      <img class="banner-image-sarai" src="/img/banners/pest_banner.jpg">
    {{else}}
      <img class="banner-image-sarai" src="{{getCMS.bannerImage}}">
    {{/if}}
    
    <div class="banner-content-top-sarai">
      <div class="row">
      
      <div class="col-md-5 col-sm-12 banner-text" id="bannerText-sarai">
          {{#if getCurrentPage "home"}}
            <h1 class="title">Smarter Pest Identification</h1>
            <h3 class="title-desc hidden-sm">An online platform that combines different strategies and practices for identification and management of pests</h3>
          {{else}}
            <h1 class="title">{{getCMS.bannerHeadText}}</h1>
            <h3 class="title-desc hidden-sm">{{getCMS.bannerSubText}}</h3>
          {{/if}}
      </div>

      <div class="col-md-7 col-sm-12 hidden-xs hidden-sm services-icons"> 
        <div class="row">
          <!-- Pest Lib -->
          <div class="col-md-3 col-sm-3">
            <a href="/library">
              <img class="service-icon-img" src="/img/modules/pest_library.png">
              
            </a>
          </div>

          <!-- Pest ID -->
          <div class="col-md-3 col-sm-3">
            <a href="/pests-id">
              <img class="service-icon-img" src="/img/modules/pest_id.png">
              
            </a>
          </div>

          <!-- Pest Monitoring -->
          <div class="col-md-3 col-sm-3">
            <a href="/pests-monitor">
              <img class="service-icon-img" src="/img/modules/pest_monitoring.png">
              
            </a>
          </div>

          <!-- Pest Clinic -->
          <div class="col-md-3 col-sm-3">
            <a href="/pests-clinic">
              <img class="service-icon-img" src="/img/modules/pest_clinic.png">
              
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>