<template name="clinic_cms_navbar">
{{#if currentUser}}
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>  
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/pests-clinic">Home</a></li>
              <li><a href="/admin/assistance">Assistance</a></li>
              <li><a href="">Form Result</a></li>
              <li><a href="/admin/experts">Expert</a></li>
              <li><a href="/admin/activity-log">Activity Log</a></li>
          </ul>
        </div>
      </div>
  </nav>
{{/if}}
</template>