<template name="sideNav">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li><h3 class="text-center"><b>SPId CMS</b></h3></li>
			<hr>
			<li><a href="/admin/home">Home</a></li>
			<li><a href="/admin/library">Pest Library</a></li>
			<li><a href="/admin/pests-clinic">Pest Clinic</a></li>
			<li><a href="/admin/identification">Pest Identification</a></li>
			<li><a href="/admin/diseases">Diseases</a></li>
			<li><a href="/admin/users">Users</a></li>
			<li><a href="/admin/nav-settings">Settings</a></li>
		</ul>
	</div>
</template>