<template name="top_nav">

<!-- Static navbar -->
<nav class="navbar sarai-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <a href="/">
          <img src="/img/SARAI-white.png" height="60px" />
        </a>
      </div>
    </div>
    
    <div class="mdl-layout-spacer">
        {{#if currentUser}}
          {{configureAccountType}}
        {{/if}}
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
      <div class="pull-right login-buttons">
        {{> loginButtons align="right"}}
      </div>
      <ul class="nav navbar-nav navbar-right links">
        {{#each link in links}}
          <li><a href="{{link.url}}">{{link.title}}</a></li>
        {{/each}}
        {{#if isInRole 'Admin'}}
          <li><a href="/admin/home">Admin Page</a></li>
        {{/if}}
        {{#if isInRole 'Pests Admin'}}
          <li><a href="/admin/library">Admin Page</a></li>
        {{/if}}
        {{#if isInRole 'Clinic Admin'}}
          <li><a href="/admin/pests-clinic">Admin Page</a></li>
        {{/if}}
        {{#if isInRole 'Id Admin'}}
          <li><a href="/admin/identification">Admin Page</a></li>
        {{/if}}
        {{#if isInRole 'Diseases Admin'}}
          <li><a href="/admin/diseases">Admin Page</a></li>
        {{/if}}
        {{#if isInRole 'Pest Expert'}}
          <li><a href="/admin/assistance">Admin Page</a></li>
        {{/if}}
      </ul>
    </div><!--/.nav-collapse -->

    <div class="logos">
      <img class="dost-pcaarrd-uplb-logo" src="/img/dost-pcaarrd-uplb.png" />
    </div>
  </div><!--/.container-fluid -->
</nav>

</template>