<template name="top_nav">

<nav class="navbar sarai-header">
  <div class="container">
    <div class="navbar-header">
      <a href="/">
        <img src="/img/SARAI-white.png" height="60px" />
      </a>
    </div>

    <div class="navbar-right login-buttons">
      {{> loginButtons align="right"}}
    </div>

    <div class="navbar-right links">
      <a href="/library">
        LIBRARY
      </a>
      <a href="/spid">
        SPID
      </a>
      <a href="/monitor">
        MONITOR
      </a>
      <a href="/clinic">
        CLINIC
      </a>
    </div>


  </div>
</nav>

</template>